/****** Object:  StoredProcedure [dbo].[GetUserEquities]    Script Date: 02-02-2026 11:28:56 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
ALTER PROCEDURE [dbo].[GetUserEquities]    
(    
    @UserId INT = 0,  
    @EquityId INT = 0,  
    @Page INT = 1,    
    @PageSize INT = 10,    
    @SearchText NVARCHAR(200) = '',    
    @SortOrder NVARCHAR(4) = 'DESC',    
    @SortField NVARCHAR(100) = 'CreatedDate',    
    @IsActive BIT = 1,    
    @IsDeleted BIT = 0,    
    @EquityType INT = 0,    
    @FromDate DATETIME2 = NULL,    
    @ToDate DATETIME2 = NULL    
)    
AS  
  
--DECLARE  
--    @UserId INT = 0,  
--    @EquityId INT = 0,  
--    @Page INT = 1,    
--    @PageSize INT = 10,    
--    @SearchText NVARCHAR(200) = '',    
--    @SortOrder NVARCHAR(4) = 'DESC',    
--    @SortField NVARCHAR(100) = 'CreatedDate',    
--    @IsActive BIT = 1,    
--    @IsDeleted BIT = 0,    
--    @EquityType INT = 0,    
--    @FromDate DATETIME2 = NULL,    
--    @ToDate DATETIME2 = NULL    
  
BEGIN    
    SET NOCOUNT ON;    
    
    --------------------------------------------------------------------    
    -- 1. Validate SortOrder    
    --------------------------------------------------------------------    
    SET @SortOrder = UPPER(@SortOrder);    
    IF @SortOrder NOT IN ('ASC', 'DESC')    
        SET @SortOrder = 'DESC';    
    
    --------------------------------------------------------------------    
    -- 2. Validate SortField: WHITELIST (VERY IMPORTANT)    
    --------------------------------------------------------------------    
    IF UPPER(@SortField) NOT IN (    
        'ID','USERID','EQUITYNAME','EQUITYSHORTFORM','EQUITYTYPE',    
        'PURCHASEPRICE','QUANTITY','INVESTEDAMOUNT','CURRENTPRICE',    
        'INVESTMENTDATE','ORDERID','CREATEDDATE','MODIFIEDDATE'    
    )    
        SET @SortField = 'CreatedDate';    
    
    --------------------------------------------------------------------    
    -- 3. Pagination    
    --------------------------------------------------------------------    
    DECLARE @Offset INT = (@Page - 1) * @PageSize;    
    
    --------------------------------------------------------------------    
    -- 4. Base SQL    
    --------------------------------------------------------------------    
    DECLARE @SQL NVARCHAR(MAX) = '    
        SELECT    
            ue.Id,    
            ue.UserId,    
            us.Name AS UserName,    
            us.Email AS UserEmail,    
            ue.EquityName,    
            ue.EquityShortForm,    
            ue.EquityType,    
            ue.PurchasePrice,    
            ue.Quantity,    
            ue.InvestedAmount,    
            ue.CurrentPrice,    
            ue.InvestmentDate,    
            ue.OrderId,    
            ue.CreatedDate,    
            ue.ModifiedDate,    
            ue.IsActive,    
            ue.IsDeleted,
            COUNT(*) OVER() AS TotalRecords
        FROM UserEquities ue WITH (NOLOCK)    
        INNER JOIN Users us WITH (NOLOCK) ON ue.UserId = us.Id    
        WHERE 1 = 1    
    ';    
    
    --------------------------------------------------------------------    
    -- 5. Append Static Filter Conditions    
    --------------------------------------------------------------------  
    IF ISNULL(@EquityId, 0) <> 0    
        SET @SQL += ' AND ue.Id = @EquityId ';   
  
    IF ISNULL(@UserId, 0) <> 0    
        SET @SQL += ' AND ue.UserId = @UserId ';    
   
    IF ISNULL(@EquityType, 0) <> 0   
        SET @SQL += ' AND ue.EquityType = @EquityType ';    
    
    IF ISNULL(@FromDate,'') <> ''    
        SET @SQL += ' AND ue.InvestmentDate >= @FromDate ';    
    
    IF ISNULL(@ToDate,'') <> ''    
        SET @SQL += ' AND ue.InvestmentDate <= @ToDate ';  
  
    SET @SQL += ' AND ue.IsActive = @IsActive AND ue.IsDeleted = @IsDeleted ';  
    
    --------------------------------------------------------------------    
    -- 6. Search Condition    
    --------------------------------------------------------------------    
    SET @SQL += '    
        AND (    
            ue.EquityName LIKE ''%'' + @SearchText + ''%''    
            OR ue.EquityShortForm LIKE ''%'' + @SearchText + ''%''  
            OR ue.CompanyName LIKE ''%'' + @SearchText + ''%''  
          -- OR us.Name LIKE ''%'' + @SearchText + ''%''    
            -- OR us.Email LIKE ''%'' + @SearchText + ''%''    
        )    
    ';    
    
    --------------------------------------------------------------------    
    -- 7. Order By (Safe — QUOTENAME)    
    --------------------------------------------------------------------    
    SET @SQL += '    
        ORDER BY ' + QUOTENAME(@SortField) + ' ' + @SortOrder + '    
        OFFSET @Offset ROWS FETCH NEXT @PageSize ROWS ONLY;    
    ';    
    
    --------------------------------------------------------------------    
    -- 8. Execute Securely    
    --------------------------------------------------------------------    
    EXEC sp_executesql     
        @SQL,    
        N'@UserId INT, @EquityId INT, @Page INT, @PageSize INT, @Offset INT,    
          @SearchText NVARCHAR(200), @SortOrder NVARCHAR(4), @SortField NVARCHAR(100),    
          @IsActive BIT, @IsDeleted BIT, @EquityType INT,    
          @FromDate DATETIME2, @ToDate DATETIME2',    
        @UserId, @EquityId, @Page, @PageSize, @Offset,    
        @SearchText, @SortOrder, @SortField,    
        @IsActive, @IsDeleted, @EquityType,    
        @FromDate, @ToDate;    
END 